## FRONTEND GENERAL CONFIGURATION VARIABLES ##
NEXT_PUBLIC_DEVELOPER_NAME='place_value_here'

## PORTFOLIO METADATA CONFIGURATION VARIABLES ##
NEXT_PUBLIC_TAB_DESCRIPTION='place_value_here'
NEXT_PUBLIC_TAB_TITLE='place_value_here'